<article>
  <header>
    <h1>Editing To-Do Item in List: <%= @todo_list.title %></h1>
  </header>
  <%= render partial: 'form', locals: {submit_text: "Update To-Do Item"} %>
  <%= link_to 'View To-Do List', @todo_list %>
</article>
