/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
nav#global ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

nav#global{
  margin: 5px;
}


div#main {
  height: 100%;
}

header#global {
  border:1px solid black;
  margin-bottom: 10px;
}

section#todo_lists article {
  border: 1px solid blue;
  margin-bottom: 5px;
}

td.field_name {
  text-align:right;
  font-size: large;
  font-variant: small-caps;
}

li.complete {
  text-decoration: line-through;
}